﻿@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>GoogleMaps Polygons</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx-CK4ZJFmJta_l2eFwS03cHTDofCCdL4&callback=initMap&libraries=geometry"
            defer></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
            padding-left;
        }

        #boton {
            padding-right;
            padding: 14px 40px;
        }
        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding-right;
        }
    </style>
    <script>
        (function main(exports) {
            "use strict";
            // examples of client coords
            var clientCoords = [{ lat: -33.5377159, lng: -70.6216769 },
                                { lat: -33.5364648, lng: -70.6269305 },
                                { lat: -33.5351783, lng: -70.6349424 },
                                { lat: -33.5111523, lng: -70.6374416 },
                                { lat: -33.5169679, lng: -70.62124020000002 },
                                { lat: -33.5172533, lng: -70.5951647 }
                                ];
            var marker = []; // markers with client coords
            var marker2 = [];  // vertices of a polygon
            var polygonCoords = []; // coords of a polygon 
            var insidePCoords = []; // coords of markers inside a polygon
            var polygons = []; // polygons array
            var open = false;

            function createPolygon(controlDiv, map) {
                var controlUI = document.createElement("div");
                controlUI.style.backgroundColor = "#fff";
                controlUI.style.border = "2px solid #fff";
                controlUI.style.borderRadius = "3px";
                controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
                controlUI.style.cursor = "pointer";
                controlUI.style.marginBottom = "22px";
                controlUI.style.textAlign = "center";
                controlUI.title = "Click para crear y guardar el polígono con los marcadores.";
                controlDiv.appendChild(controlUI);

                var controlText = document.createElement("div");
                controlText.style.color = "rgb(25,25,25)";
                controlText.style.fontFamily = "Roboto,Arial,sans-serif";
                controlText.style.fontSize = "16px";
                controlText.style.lineHeight = "38px";
                controlText.style.paddingLeft = "5px";
                controlText.style.paddingRight = "5px";
                controlText.innerHTML = "Crear Polígono";
                controlUI.appendChild(controlText);

                controlUI.addEventListener("click", function () {
                    if (polygonCoords.length > 2) {   // at least 2 vertices to create a polygon
                        var polygon = new google.maps.Polygon({
                            paths: polygonCoords,
                            strokeColor: "#FF0000",
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: "#FF0000",
                            fillOpacity: 0.35
                        });
                        var contains = false;
                        // find if a polygon have markers inside
                        for (var i = 0; i < marker.length; i++) {
                            if (google.maps.geometry.poly.containsLocation(marker[i].getPosition(), polygon)) {
                                polygon.setMap(map);
                                insidePCoords.push(marker[i].getPosition());
                                contains = true;    
                            }   
                        }
                        if (!contains)
                            alert("El polígono a crear no posee clientes dentro. Por favor, cree uno que contenga al menos 1 cliente");
                        else {
                            polygons.push({ polygon_id: "id", insidePolyCoords: insidePCoords, polyCoords: polygonCoords })
                            let polygonsJSON = { polygonsResult: polygons }; //JSON with polygons
                            var myJson = JSON.stringify(polygonsJSON);
                            // save polygons to a JSON file located at ./api/post
                            fetch("./api/post", {
                                method: "POST",
                                body: myJson,
                                headers: { 'Content-Type': 'application/json' }
                            }).then(res => {
                                console.log("request complete!", res);
                            });
                            // Delete markers after create the polygon
                            for (var i = 0; i < marker2.length; i++)
                                marker2[i].setMap(null);
                            polygonCoords = [];
                            insidePCoords = [];
                            if (!open) {
                                alert("Los polígonos se guardan en un archivo JSON en: ./json/polygonsCoords.json");
                                window.open("./json/polygonsCoords.json");
                                open = true;
                            }
                        }
                    } else
                        alert("Debe seleccionar más puntos para poder crear el polígono.");
                    
                });
            }

            function initMap() {
                exports.map = new google.maps.Map(document.getElementById("map"), {
                    center: {
                        lat: -33.4372,
                        lng: -70.6506
                    },
                    zoom: 9
                });
                // places client coords in the map
                function findCoords() {
                    for (var i = 0; i < 6; i++) {
                        marker.push(new google.maps.Marker({
                            position: clientCoords[i],
                            map: map,
                            icon: "https://www.google.com/mapfiles/marker_green.png",
                            title: "cliente"
                        }));
                        marker[i].setMap(map);
                    }
                    exports.initMap = initMap;
                }
                findCoords();
                // adds a marker everytime the user clicks in the map (to create a polygon)
                exports.map.addListener("click", function (event) {
                    marker2.push(new google.maps.Marker({
                        position: event.latLng,
                        map: map,
                        icon: "https://www.google.com/mapfiles/marker_black.png",
                        title: "click para eliminar marcador"
                    }));
                    marker2[marker2.length - 1].addListener("click", function (){
                        this.setMap(null);
                        for (var i = 0; i < polygonCoords.length; i++) {
                            if (polygonCoords[i] == this.getPosition())
                                polygonCoords.splice(i, 1);
                        }
                    });
                    polygonCoords.push(event.latLng);
                }); 
                var centerControlDiv = document.createElement("div");
                var centerControl = new createPolygon(centerControlDiv, exports.map);
                centerControlDiv.index = 1;
                exports.map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
            }
            exports.initMap = initMap;
            exports.createPolygon = createPolygon;
            
        })((this.window = this.window || {}));
    </script>
</head>
<body>
    <div id="map"></div>
</body>
</html>